.ea-index .field-status, .field-status > dd {
    display: flex !important;
    align-items: center;
}

.field-status span:last-child {
    font-weight: bold;
    margin-left: 1em;
    color: #666;
}

.field-status .status {
    display: inline-block;
    border-radius: 400px;
    padding: 1em;
    background: #666;
}

.field-status .status--ERROR {
    background: #e53a63;
}

.field-status .status--ERROR ~ span {
    color: #4d1014;
}

.field-status .status--SUCCESS {
    background: #7dce74;
}

.field-status .status--SUCCESS ~ span {
    color: #0e2810;
}

.field-status .status--ONGOING {
    background: #479ed3;
}

.field-status .status--ONGOING ~ span {
    color: #101f3f;
}